
{% extends 'base.html' %}

{% block title %}MissionBe home page{% endblock %}

{% block content %}

<div class="container">

  <div class="row">

    <div class="col-md-offset-4 col-md-5">

      <div class="container-fluid">
        <div class="row top">
          <div class="col-md-12 logo">
            <img src="http://missionbe.org/wp-content/uploads/2013/12/Mission_Be8.png"></img>
          </div>
        </div>
        <div class="row top">

          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-10">
                <input type="email" class="form-control" id="input-name" placeholder="Name" style="width:80%">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <input type="email" class="form-control" id="input-email" placeholder="Email" style="width:80%">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <label for="inlineRadioOptions">Choose your grade: </label>

                <div class="options text-left">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> PreK-1st
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2nd-3rd
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 4-5th
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" href="mindful" role="button">Start Mediating</a>
              </div>
            </div>
          </form>
        </div>

      </div>

  </div>

</div>

{% endblock %}