{% extends 'base.html' %}

{% block title %} Title {% endblock %}

{% block content %}

<div class="container">

	<div class="row">
		  <div class="col-lg-offset-3 col-lg-5 text-center">
		  	<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		  	<h2>{{ page_title }}</h2>
		  <!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
	</div>

	<div class="row top">
		<div class="col-lg-offset-3 col-lg-5">

			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Name</th>
				</tr>
				{% for content in content_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><span class="list-content" data-link="{{ content.url }}">{{ content.name }}</span></td>
				</tr>
				{% endfor %}
			</table>

		</div>
	</div>
</div>

<div class="popup" style="width:100%;height:100%">
  <iframe class="vid" style="width:90%;height:90%" src="https://www.youtube.com/v/WSCM1vUQzOE"></iframe>
</div>
{% endblock %}